#clockContainer{
    position: relative;
    margin: auto;
    height: 30vw;
    width: 40vw;
    background: url(clock-.jpg) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 15%;
    top: 29%;
    left: 48.6%;
    opacity: 0.8;
    

}
#minute{
    width: 0.5%;
    height: 22%;
    top: 22%;
    left: 49%;
    opacity: 0.8;
    
    

}
#second{
    width: 0.3%;
    height: 18%;
    top: 25.5%;
    left: 49%;
    opacity: 0.8;
    

}